.field{
  margin-bottom: 29px;
  color: #68717c;
  &__title {
    display: block;
    font-size: 14px;
    font-family: SourceSansPro-Regular, Arial, sans-serif;
    margin-bottom: 8px;
  }
  &__input{
    color: #68717c;
    width: 410px;
    height: 36px;
    border-radius: 3px;
    border: 1px solid #d4d8db;
    box-shadow: inset 0 1px 3px 0 rgba(27, 40, 52, 0.08);
    background-color: rgba(27, 40, 52, 0.01)
  }
  &__textarea{
    width: 410px;
    height: 147px;
    border-radius: 3px;
    border: 1px solid #d4d8db;
    box-shadow: inset 0 1px 3px 0 rgba(27, 40, 52, 0.08);
    background-color: rgba(27, 40, 52, 0.01)
  }
  &__select{
    display: none;
  }
  &--error{
    border-color: #fa5e5b;
  }

  &__content{
    display: flex;
  }

  .select{
    margin-bottom: 29px;
    position: relative;
    &__field{
      color: #68717c;
      width: 410px;
      height: 36px;
      padding-left: 15px;
      padding-top: 8px;
      border-radius: 3px;
      border: 1px solid #d4d8db;
      box-shadow: inset 0 1px 3px 0 rgba(27, 40, 52, 0.08);
      background-color: rgba(27, 40, 52, 0.01)
    }
    &__remove{
      display: block;
      position: absolute;
      border: none;
      cursor: pointer;
      background-color: transparent;
      background-image: url('../../picture/x.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 10;
      top: 7px;
      right: 31px;
      width: 24px;
      height: 24px;
    }
    &__open{
      display: block;
      position: absolute;
      border: none;
      cursor: pointer;
      background-color: transparent;
      background-image: url('../../picture/arrow.svg');
      background-position: center;
      background-size: initial;
      background-repeat: no-repeat;
      z-index: 10;
      top: 7px;
      right: 7px;
      width: 24px;
      height: 24px;
    }
    &__option{
      display: block;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
      overflow: hidden;
      height: 0;
      transition: height 0.3s;
      &--open{
        transition: height 0.3s;
        height: 125px;
      }
    }
    &__item{
      padding: 12px 15px;
      &:hover{
        color: #fff;
        background-color: #488edf;
      }
    }
  }
}

