.helper{
    position: relative;
    font-size: 14px;
    margin-left: 42px;
    &--info{
        color: #68717c;
        &:before{
            position: absolute;
            content: '';
            background-image: url('../../picture/info.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            top: 14px;
            left: -22px;
            width: 14px;
            height: 14px;
        }
    }
    &--error{
        color: #fa5e5b;
        &:before{
            position: absolute;
            content: '';
            background-image: url('../../picture/error.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            top: 14px;
            left: -22px;
            width: 14px;
            height: 14px;
        }
    }
    &--valid{
        color: #16c98d;
        &:before{
            position: absolute;
            content: '';
            background-image: url('../../picture/valid.svg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            top: 14px;
            left: -22px;
            width: 14px;
            height: 14px;
        }
    }
}

